.img{
    height: 700px;
    width: 100%;
}
.p_sixe{
height: 120px;
width: 90%;
}
.pt_sixe{
height: 300px;
width: 90%;
}
.p_sixe1{
height: 400px;
width: 90%;
}
.girl1{
height: 400px;
}
.img-fluid{
    height: 400px;
    width: 100%;
    
}
